body {
  background: rgb(192, 99, 89);
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
a {
  color: rgb(192, 99, 89);
}
fieldset {
  border: 1px solid rgb(192, 99, 89);
  padding: 20px;
}
h1, h2, h3, legend {
  color: rgb(192, 99, 89);
  font-weight: bold;
}
hr {
  border: 1px solid rgb(192, 99, 89);
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
#diagram {
  background: #fff;
  width: 66%;
  height: 100vh;
  margin: 0;
  float: left;
}
#content {
  background: #fff;
  width: 33.9%;
  height: 100vh;
  margin: 0;
  float: right;
  overflow: auto;
}
#content > * {
  margin: 40px 40px 0 40px;
}
#content h2 {
  margin-top: 0;
}
#content hr {
  margin-left: 0;
  margin-right: 0;
}
#content.no-topic h3, #content.no-topic fieldset { display: none; }